:root {
  --black1: #1a1a1a;
  --just-white: #f2f2f1;
  --contrast1: #ffda4a;
  --contrast2: #f6a901;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

  color: var(--just-white);
}

header {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section {
  width: 100%;
}

.home {
  height: 100vh;
  width: 100%;
  background: rgba(26, 26, 26, 1);
  /* background-image: url(https://media.giphy.com/media/xCfZ91fJS9gG03Spd7/giphy-downsized-large.gif);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover; */
  display: flex;
  flex-direction: column;
}

.home__text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__text-container hr {
  align-self: center;
  width: 65vw;
}

.home__name {
  text-align: center;
  font-size: 7.73vw;
  font-weight: 500;
  line-height: 60px;
}

.home__description {
  text-align: center;
  margin-top: 16px;
  font-size: 3.38vw;
}

.home__button-container {
  top: 90vh;
  position: absolute;

  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
}

.home__button {
  width: 20%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__button div {
  width: 52px;
  height: 35px;
  background-image: url(assets/img/down-gold-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-me {
  border-top: 1px solid #ffda4a;
  background-color: var(--black1);
}

.about-me h2 {
  font-size: 2.4rem;
  margin: 15px 0 15px 25px;
}

.about-me__grid-container {
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  grid-template-rows: auto;
}


.about-me__grid-container p {
  margin-left: 25px;
  margin-bottom: 12px;
  font-size: 1.6rem;
}

.about-me___info-section {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.about-me___info-section img {
    width: 200px;
    border-radius: 200px;
    align-self: center;
    margin-bottom: 16px;
}

.about-me__grid-container p {
  width: 80%;
}

.about-me__grid-container a {
  text-decoration: none;
  width: 90%;
  height: 50px;
  border-radius: 10px;
  justify-self: center;

  background-color: var(--contrast2);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.8rem;

  margin-top: 16px;
  margin-bottom: 16px;
}
