@import "/src/colors_and_fonts.scss";

.portfolio {

  h3 {

  }
}

.portfolio {
  &__title {
    align-self: flex-start;
    font-size: 4rem;
    font-family: $font-1;

  }

  &__project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px;
    margin-top: 24px;

    width: 100%;
  }

  &__component {
    width: 100%;
  }
}
