<div class="card">
  <div class="card__image" style="background-image: url({{project.imageSrc }})" alt="" ></div>
  <div class="card__description">
    <h3>{{ project.title }}</h3>
    <div class="card__technologies">
      <app-skill
        *ngFor="let item of project.skills"
        [src]="item.imageSrc"
        [text]="item.text"
      >
      </app-skill>
    </div>
    <div class="card__buttons">
      <a
        class="card__demo"
        href="{{ project.demoLink }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>Demo</div>
      </a>
      <a
        class="card__code"
        href="{{ project.codeLink }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div>Code</div>
      </a>
    </div>
  </div>
</div>
