<div class="about-me" id="about-me">
  <h3>About me</h3>
  <div class="about-me__component">
    <div class="about-me__side-nav-menu">
      <div (click)="changeInfo(1)" [ngClass]="{ selected: infoSelected === 1 }">
        <p>Profile</p>
      </div>
      <div (click)="changeInfo(2)" [ngClass]="{ selected: infoSelected === 2 }">
        <p>Studies</p>
      </div>
      <div (click)="changeInfo(3)" [ngClass]="{ selected: infoSelected === 3 }">
        <p>Skills</p>
      </div>
    </div>

    <div class="about-me__info-container">
      <div
        class="about-me-info"
        [ngClass]="{
          show: infoSelected === 1,
          noShow: infoSelected !== 1
        }"
      >
        <p>
          Software developer. I like to do both frontend and backend in a web
          application
        </p>
        <p>I have to say that I enjoy the backend more.</p>
        <p>
          I focus on giving a good UI/UX experience and on the little details.
        </p>
        <p>
          I am passionate about technology and I love discovering new ways to
          achieve my goals.
        </p>
        <p>I am constantly learning. Student at USAC and Platzi 🎓.</p>
      </div>
      <div
        class="studies"
        [ngClass]="{
          show: infoSelected === 2,
          noShow: infoSelected !== 2
        }"
      >
        <app-studies-info
          *ngFor="let study of studiesLocalData"
          [img]="study.img"
          [title]="study.title"
          [subtitle]="study.subtitle"
          [href]="study.href"
        >
        </app-studies-info>
      </div>
      <div
        class="skills"
        [ngClass]="{
          show: infoSelected === 3,
          noShow: infoSelected !== 3
        }"
      >
        <app-skill
          *ngFor="let item of skillLocalData"
          [src]="item.imageSrc"
          [text]="item.text"
        ></app-skill>
      </div>
    </div>
  </div>

  <div class="about-me__ilustrations show">
    <img src="{{ img }}" alt="" />
  </div>
</div>
