@import "/src/colors_and_fonts.scss";
$margintop: 24px;

.about-me {
  h3 {
    align-self: flex-start;
    font-size: 4rem;
    font-family: $font-1;
  }

  &__component {
    width: 100%;
  }

  &__side-nav-menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: $margintop;
    cursor: pointer;
    div {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $contrast-color2;
    }
    p {
      font-size: 3rem;
      font-family: $font-3;
      font-weight: 300;
      text-align: center;
    }
  }

  &__info-container {
    margin-top: $margintop;
    width: 100%;
  }

  &__ilustrations {
    margin-top: $margintop;
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}

.about-me-info {
  p {
    font-family: $font-1;
    font-size: 2.1rem;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 2px;
    margin-bottom: 12px;
  }
}

.skills {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 1fr));
  justify-items: start;
  gap: 16px 16px;
}

.show {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.noShow {
  display: none;
}

.selected {
  background-color: $contrast-color2;
}

@media only screen and (min-width: 1023px) {
  .about-me {
    display: grid;
    grid-template-areas:
      "title  title title  "
      "image image  comp"
      "image image  comp";
    column-gap: 1.5rem;
    row-gap: 5.5rem;

    h3 {
      grid-area: title;
    }

    &__component {
      grid-area: comp;
      width: 60rem;

      align-self: flex-end;
    }

    &__side-nav-menu {
      align-self: flex-start;
      margin-top: 0;
    }

    &__info-container {
    }

    &__ilustrations {
      grid-area: image;
      width: 60%;
      max-width: 300px;
      margin-top: 0;
      justify-self: center;
    }
  }
}
