@import "/src/colors_and_fonts.scss";

.container{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 16px;
  text-decoration: none;
  color: black;

  img{
    max-width: 50px;
  }

  .info-container{
    margin-left: 15px;
    h3{
      font-family: $font-3;
      font-size: 3.0rem;
    }

    p{
      font-family: $font-1;
      font-size: 1.6rem;
    }
  }

}
