@import "/src/colors_and_fonts.scss";

.button{
  background-color: $contrast-color1;
  max-width: 150px;
  height: inherit;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
