@import "/src/colors_and_fonts.scss";

.navbar {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: $background-color2;
  font-size: 1.8rem;
  font-family: $font-1;


  &__hamburger {
    width: 4rem;
    height: 4rem;
    margin-right: 0.5rem;
    color: white;

  }

  &__option-container {
    display: none;
  }



}

@media only screen and (min-width: 426px) {
  .navbar {
    &__hamburger {
      display: none;
    }

    &__button {
      width: 12rem;
      height: 70%;
      margin-right: 2.0rem;
    }
    &__option {
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        color: white;
      }
    }

    &__option:hover{
      a{
        color: $contrast-color2;
        transform: scale(1.1,1.1);
        transition: color 0.2s ease-out 0s, transform 0.2s ease-out 0s;
      }
    }


    &__option-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 2.0rem;
      width: 70%;
      height: inherit;
    }
  }
}
