<nav class="navbar">
  <div class="navbar__hamburger" (click)="desplegar_menu()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="navbar__hamburger"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
      />
    </svg>
  </div>

  <ul class="navbar__option-container">
    <li class="navbar__option"><span></span> <a href="">About me</a></li>
    <li class="navbar__option"><span></span> <a href="">Portfolio</a></li>
    <app-button
      class="navbar__button"
      [text]="'Contact me'"
      [link]="'mailto:javier.valdez.15v@gmail.com'"
    ></app-button>
  </ul>
</nav>
