<div class="landing">
  <h1 class="landing__title">Javier Valdez</h1>
  <h2 class="landing__subtitle">Software Developer</h2>

  <div class="landing__social-container">
    <app-social-media-icon
      class="landing__social-icon"
      [name]="'linkedin'"
      [href]="'https://www.linkedin.com/in/javier-valdez-grizzly/'"
      [src]="'../../../../assets/Icons/linkedin-circled.svg'"
    ></app-social-media-icon>
    <app-social-media-icon
      class="landing__social-icon"
      [name]="'Github'"
      [href]="'https://github.com/xavi-val'"
      [src]="'../../../../assets/Icons/github.svg'"
    ></app-social-media-icon>
    <app-social-media-icon
      class="landing__social-icon"
      [name]="'Twitter'"
      [href]="'https://twitter.com/Programador_J'"
      [src]="'../../../../assets/Icons/twitter.svg'"
    ></app-social-media-icon>
  </div>
  <img
    class="landing__img"
    src="assets/Images/Programing-landing-page.svg"
    alt=""
  />
</div>
