@import "/src/colors_and_fonts.scss";

.landing {
  display: grid;
  justify-content: center;
  justify-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "title title title"
    "subtitle subtitle subtitle"
    "image image social";

  margin-top: 20px;

  &__social-container {
    grid-area: social;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
  }

  &__social-icon {
    max-width: 70px;
    width: 80%;
  }

  &__img {
    grid-area: image;
    max-width: 60rem;
    margin-top: 3rem;
    width: 100%;
  }

  &__subtitle {
    grid-area: subtitle;
    font-family: $font-3;
    font-size: 4rem;
    text-align: center;
    margin-top: 1rem;
  }
  &__title {
    grid-area: title;
    font-family: $font-1;
    font-size: 9.5rem;
    font-weight: 700;

    text-align: center;
  }
}

@media only screen and (min-width: 550px) {

  .landing {

    grid-template-areas:
      "title title image"
      "title title image"
      "subtitle subtitle image"
      "social social image";

    &__social-container {
      flex-direction: row;
      justify-content: center;
      column-gap: 2.0rem;
      align-self: flex-start;
    }

    &__img {
    }
    &__social-icon {
    }
    &__subtitle {
    }
    &__title {
      align-self: flex-end;
    }
  }
}
