:root {
  --black1: #1a1a1a;
  --grey1: #7c7c7d;
  --grey2: #404040;
  --just-white: #f2f2f1;
  --contrast1: #ffda4a;
  --contrast-red: #e60000;
  --contrast2: #f6a901;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

  color: var(--just-white);
}

header {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section {
  position: relative;
  min-height: 100vh;
  border-top: 1px solid var(--contrast1);
  background-color: var(--black1);
  width: 100%;
}

section h2 {
  color: var(--just-white);
}

section > hr {
  position: absolute;
  width: 45px;
  top: 47px;
  left: 25px;
  border-color: var(--contrast-red);
}

.home {
  height: 90vh;
  width: 100%;  
  background-image: url(https://media.giphy.com/media/7b8jdNUoFBdcoILjjv/giphy.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.home_image_background {
  width: 100%;
  height: 100%;
  background-color: var(--black1);
  position: absolute;
}

.home__text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__text-container hr {
  align-self: center;
  width: 30vw;
}

.home__name {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  line-height: 60px;
  color: var(--contrast1);
}

.home__description {
  text-align: center;
  margin-top: 8px;
  font-size: 2.4rem;
}

.home__button-container {
  top: 80vh;
  position: absolute;

  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
}

.home__button {
  width: 20%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__button div {
  width: 52px;
  height: 35px;
  background-image: url(../assets/img/down-gold-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-me {
  background-color: var(--black1);
  height: auto;
}

.about-me h2 {
  font-size: 2.4rem;
  margin: 15px 0 15px 25px;
}

.about-me__grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 100%));
  grid-auto-rows: auto;
  align-items: center;
  justify-items: center;
}

.about-me___info-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin-top: 16px;
}

.about-me___info-section img {
  width: 50%;
  border-radius: 40px;
  margin-bottom: 8px;
}

/* .about-me___info-section img:hover{
  content: url(assets/img/Javier_colores.jpg);
} */

.about-me___info-section p {
  margin-bottom: 4px;
  font-size: 1.4rem;
}

.about-me___description-section {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-top: 24px;
  justify-content: center;
  align-items: center;
}

.about-me___description-section p {
  margin-bottom: 12px;
  font-size: 1.6rem;
  text-align: justify;
}

.about-me__grid-container a {
  text-decoration: none;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  justify-self: center;

  background-color: var(--contrast2);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.8rem;

  margin-top: 16px;
  margin-bottom: 16px;
}

.education {
  position: relative;
}

.education hr {
  position: absolute;
  width: 45px;
  top: 47px;
  left: 25px;
  border-color: var(--contrast-red);
}

.education h2 {
  font-size: 2.4rem;
  margin: 15px 0 15px 25px;
}

.item {
  margin-left: 25px;
  margin-bottom: 30px;
}

.item h3 {
  font-size: 1.8rem;
  margin-bottom: 8px;
  text-decoration: dotted;
}

.item__info-container {
  display: flex;
  align-items: center;
}

.item__info-container h4 {
  font-size: 1.3rem;
}

.item__info-container p {
  font-size: 1rem;
}

.item__logo {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 8px;
  align-self: baseline;
}

.education .item:nth-child(1) .item__info-container .item__logo {
  background-image: url(../assets/img/Usac_logo_1.svg);
}

.education .item:nth-child(2) .item__info-container .item__logo {
  background-image: url(../assets/img/Liceo_Canadiense_logo.png);
}

.education__sub-section-title {
  font-size: 2rem;
  margin: 15px 0 15px 0px;
}

.sub-item-container {
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.sub-item {
  display: flex;
  align-items: center;
  justify-items: flex-end;
  width: 100%;
}

.item__stars {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin-right: 10%;
  gap: 3px;
}

.sub-item p {
  display: inline-block;
  font-size: 1.4rem;
  width: 50%;
}

.star {
  width: 24px;
  height: 24px;
}

.star--on {
  background-image: url(../assets/img/Star_on.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.star--off {
  background-image: url(../assets/img/Star_off.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.skills {
  position: relative;
}

.skills h2 {
  font-size: 2.4rem;
  text-align: start;
  margin: 15px 0 15px 25px;
}

.skills .underline {
  top: 32px;
  left: 25px;
  right: 10%;
}
.portfolio {
  padding-bottom: 15px;
  height: auto;
}

.portfolio h2 {
  font-size: 2.4rem;
  margin: 15px 0 15px 25px;
}

.portfolio__container {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 100%));
  justify-items: center;
  align-items: center;
  gap: 32px;
  margin-left: 25px;
  margin-right: 25px;
  justify-content: center;
  align-content: center;
}

.portfolio__item {
  height: 250px;
  width: 100%;
  border-radius: 25px;
}

.portfolio__item--more {
  border: 1px solid var(--contrast1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio__item--more a {
  max-width: 290px;
  font-size: 2.4rem;
}

.image_container {
  width: inherit;
  height: inherit;

  background-color: #faf8f7;
  border-radius: 25px;
}

.contact {
  min-height: 92vh;
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.contact__button-container {
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 80%));
  justify-items: center;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;  
}

.contact__button-container img {
  display: none;
}

.contact p {
  margin-top: 32px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 2.6rem;
}

.contact a {
  margin-left: 25px;
  text-decoration: none;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  justify-self: center;
  background-color: var(--contrast2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  margin-top: 64px;
  margin-bottom: 16px;
}

.frase-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vh;
}

.contact .frase {
  font-size: 1.8rem;
  color: var(--grey1);
  text-align: center;
}

footer {
  height: 35px;
  padding: 12px;
  background-color: var(--grey2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.github {
  height: 30px;
  width: 30px;
  background-image: url(../assets/img/github.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 60px;
}

.linkedin {
  height: 30px;
  width: 30px;
  background-image: url(../assets/img/linkedin-3-64.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 60px;
}

@keyframes upAndDown {
  0% {
    transform: translateY(-20px);
    opacity: 0.5;
  }

  50% {
    transform: translateY(20px);
    opacity: 1;
  }

  100% {
    transform: translateY(-20px);
    opacity: 0.5;
  }
}

@keyframes change-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@media (prefers-reduced-motion: no-preference) {
  /*ANIMACION 4*/
  .upDown {
    opacity: 0;
    animation-name: upAndDown;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  /*ANIMACION 5*/
  .change-opacity {
    animation-name: change-opacity;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
}
