/* :root {
  --black1: #1a1a1a;
  --grey1: #7c7c7d;
  --grey2: #404040;
  --just-white: #f2f2f1;
  --contrast1: #ffda4a;
  --contrast-red: #e60000;
  --contrast2: #f6a901;
} */

header {
  display: block;
  position: relative;
  height: 0px;
}

nav {
  position: fixed;
  top: 25vh;
  right: -103px;
  width: 100px;
  height: 50vh;
  z-index: 2;
  border: 1px solid var(--contrast1);
  border-radius: 15px 0px 0px 15px;
}

.link-container {
  display: flex;
  flex-direction: column;
}

.link-container a {
  width: 100%;
  height: 12.5vh;

  font-size: 1.4rem;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.home{
  height: 100vh;
}

.about-me{
  
  height: auto;
  display: flex;
  flex-direction: column;
}

.about-me__grid-container{
  grid-template-columns: repeat(auto-fit, minmax(300px, 50%));  
  grid-template-areas: 
    "me education"
    "me skills ";
  margin-right: 100px;

  
  height: 100%;  
  justify-self: center;
  align-self: center;
}

.about-me___info-section{
  grid-area: me;
}

.about-me___description-section{
  grid-area: description;
}

.education{
  grid-area: education;
}

.languages{
  grid-area: language;
}

.skills{
  grid-area: skills;
}



.portfolio__container {
  grid-template-columns: repeat(auto-fit, minmax(200px,350px));
  margin-right: 100px;
}


.contact__button-container{
  grid-template-areas: 
  "logo contact-info"
  "logo contact-info";
  margin-right: 120px;
}

.contact-info{
  grid-area: contact-info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__button-container img{
  grid-area: logo;
}

.contact__button-container img{
  display: inherit;
  width: 20vw;
}